<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Scrubbr Assessment</title>
		<style>
			input:invalid { background-color: lightPink;}
			input:valid { background-color:lightGreen; }
			input:required {border: 2px solid red;}
			input:optional {border: 2px solid green;}
			fieldset {
				border:1px solid;
				padding:20px;
			}
			.formLabel { display: inline-block; width: 140px; text-align: right; } 
			#messages
			{
				padding: 0 10px;
				margin: 1em 0;
				border: 1px solid #999;
			}
		</style>
	</head>
	<body>
		<fieldset>
			<form id="search">
				<legend>Search the forecast for a city</legend>
				<br>
				<label for="city" class="formLabel">Name :</label>
				<input type="text" id="city" pattern="[a-zA-Z0-9]{1,100}" placeholder="letters and numbers only" required/>
				<br>
				<label for="day" class="formLabel">Day :</label>
				<input type="date" id="day" required>
				<br>
				<button id="searchSubmit">Forecast</button><br />
			</form>
			<textarea id="searchResult" rows="5" cols="100" disabled>
			</textarea>
		</fieldset>
	</body>
	<script>
		var UrlGetForecast = window.location.origin + "/forecast";

		var formSearch = document.getElementById("search");

		var city = document.getElementById("city");
		var day  = document.getElementById("day");

		var searchResult = document.getElementById("searchResult");
		var searchSubmit = document.getElementById("searchSubmit");

		document.onreadystatechange = function( e ) {
			if( document.readyState !== "interactive" )
				return;
		}

		formSearch.addEventListener( 'submit', function( e ) {
			e.preventDefault();
			e.stopImmediatePropagation();

			return false;
		});

		searchSubmit.addEventListener( 'click', function( e ) {
			if(!formSearch.checkValidity()) {
				return false;
			}

			var xhr = new XMLHttpRequest();

			xhr.addEventListener( "loadend", function() {
				if( xhr.status != 200 ) {
					console.log( "Error: [" + xhr.status + "] " + xhr.statusText );
					return;
				}

				searchResult.innerHTML = xhr.response;
			});

			var url = UrlGetForecast + '?city=' + city.value + '&date=' + day.value.replaceAll('-','');
			xhr.open('GET', url);
			xhr.send();
		});
	</script>
</html>
